#juu{
    display: flex;
    justify-content: space-between;
}
img{
    display: flex;
}
.story{
    display: flex;
    justify-content: space-between;
}
.pics{
    display: flex;
}
button{
    fill color: red;

}
.pics2{
    display: flex;
}
.pics3{
    display: flex;
}
.net2{
    margin: 50px;
}
.me{
    margin: 50px;
}
#one{
    background-image:linear-gradient(black,rgb(58, 2, 2));
}
#two{
    background-image:linear-gradient(black,rgb(58, 2, 2)); 
}
#three{
    background-image:linear-gradient(black,rgb(58, 2, 2));  
}
.net2{
    display: flex;
    justify-content: space-between;
}
