body{
    background-color: rgb(59, 25, 25);
}
#juu{
    display: flex;
    justify-content: space-between;
}
img{
    display: flex;
}
.story{
    display: flex;
    justify-content: space-between;
}
.pics{
    display: flex;
}
button{
    fill color: red;

}
.pics2{
    display: flex;
}
.pics3{
    display: flex;
}
.net2{
    margin: 50px;
}
.me{
    margin: 50px;
}
